:root {
  --text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --second-accent-color: #ffffff;
  --contacts-ftr-color: rgba(255, 255, 255, 0.6);
  --primary-bg-color: #ffffff;
  --footer-bg-color: #2f303a;
  --header-logo: #000000;
  --footer-logo: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--title-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* header */
/* logo */
.studio-header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}
.studio-header .container {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Raleway";
  font-style: normal;
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.header-logo {
  color: var(--header-logo);
  margin-right: 93px;
}
.site-nav {
  display: flex;
  align-items: center;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}
.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
  color: var(--title-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.current::after {
  content: "";
  position: absolute;
  background: var(--accent-color);
  border-radius: 2px;
  height: 4px;
  width: 100%;
  bottom: -32px;
  left: 0px;
}
.contact-list {
  margin-left: auto;
  display: flex;
  justify-content: center;
}
.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  height: 16px;
}
.contacts + .contacts {
  margin-left: 30px;
}
.header-contact-link {
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-icon {
  fill: var(--text-color);
  margin-right: 10px;
}
.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent-color);
}
.header-contact-link:hover .contacts-icon,
.header-contact-link:focus .contacts-icon {
  fill: var(--accent-color);
}

/* main */
/* hero */
.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  color: var(--second-accent-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin: 0 auto 30px;
}
.hero-button {
  background: var(--accent-color);
  color: var(--second-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background: #188ce8;
  color: var(--second-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
/* section features*/
.features-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature-icons-list {
  display: flex;
  justify-content: center;
}
.features-icon-item {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.features-icon-item:not(:last-child) {
  margin-right: 30px;
}

.features-list {
  display: flex;
  align-items: center;
}
.features-item {
  width: 270px;
}
.features-item:not(:last-child) {
  margin-right: 30px;
}
.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* section work */
.work-section {
  padding-bottom: 94px;
}
.work-title {
  margin-bottom: 50px;
}
.work-list {
  display: flex;
  margin-left: -30px;
}
.work-item {
  width: 370px;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}
.work-overlay {
  position: relative;
}
.overlay {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  bottom: 0px;
}

/* section team */
.team-section {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-team-title {
  margin-bottom: 50px;
}
.team-list {
  display: flex;
  margin-left: -30px;
}
.team-box {
  background: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
}
.team-desc {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 10px;
}
.team-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.team-soc-list {
  display: flex;
  justify-content: center;
}
.team-soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.team-soc-item:last-child {
  margin-right: 0;
}
.team-soc-link {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--accent-color);
}
.team-soc-link:hover .team-soc-icon,
.team-soc-link:focus .team-soc-icon {
  fill: var(--second-accent-color);
}

/* clients section */
.clients-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients-title {
  margin-bottom: 50px;
}
.clients-list {
  display: flex;
  justify-content: center;
}
.clients-item {
  width: 170px;
  height: 92px;
  margin-right: 30px;
}
.clients-item:last-child {
  margin-right: 0;
}
.clients-link {
  fill: #afb1b8;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus {
  border: 1px solid #2196f3;
  color: var(--accent-color);
}
.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--accent-color);
}

/* footer */
.footer {
  background: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  color: var(--footer-logo);
}
.address-list {
  font-style: normal;
  margin-top: 20px;
}
.address-link {
  color: var(--second-accent-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address-item:not(:last-child) {
  margin-bottom: 9px;
}
.contact-link {
  text-decoration: none;
  color: var(--contacts-ftr-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}
.ftr-container {
  display: flex;
  align-items: baseline;
}
.footer-links {
  margin-left: 70px;
}
.links-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-accent-color);
  margin-bottom: 20px;
}

.ftr-soc-list {
  display: flex;
  justify-content: center;
}
.ftr-soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.ftr-soc-item:last-child {
  margin-right: 0;
}
.ftr-soc-link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--second-accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ftr-soc-link:hover,
.ftr-soc-link:focus {
  background-color: var(--accent-color);
}
.ftr-soc-link:hover .ftr-soc-icon,
.ftr-soc-link:focus .ftr-soc-icon {
  fill: var(--second-accent-color);
}
.subscribe-container {
  margin-left: 93px;
}
.subscribe-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-accent-color);
  margin-bottom: 20px;
}
.subscribe-form {
  display: flex;
  align-items: center;
}
.ftr-input {
  margin-right: 12px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ftr-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.ftr-input:hover,
.ftr-input:focus {
  border-color: var(--accent-color);
}
.subscribe-btn {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--second-accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-btn:hover,
.subscribe-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.icon-send {
  fill: var(--second-accent-color);
  margin-left: 10px;
}

/* modal */
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
  padding: 40px;
}
.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-bg-color);
  fill: #000000;
  padding: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: var(--accent-color);
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.modal-field {
  margin-bottom: 10px;
}
.modal-field:nth-child(4) {
  margin-bottom: 20px;
}
.modal-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-bottom: 5px;
  display: block;
}
.input-wrap {
  position: relative;
}
.modal-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-size: 16px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #000000;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover,
.modal-input:focus {
  border-color: var(--accent-color);
}
.modal-input:hover + .modal-icon,
.modal-input:focus + .modal-icon {
  fill: var(--accent-color);
}
.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.modal-text::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.check-field {
  margin-bottom: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-check {
  position: absolute;
  top: 0;
  left: 0;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-check:checked + .check-text::before {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.modal-check:hover + .check-text::before,
.modal-check:focus + .check-text::before {
  border-color: var(--accent-color);
}
.check-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  display: flex;
  align-items: center;
}
.check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
}
.check-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: underline;
  margin-left: 2px;
}
.submit-btn {
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: var(--second-accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.submit-btn:hover,
.submit-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* portfolio */
/* main */
.main-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.button-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.btn-item:not(:last-child) {
  margin-right: 8px;
}
.filter-button {
  background: #f5f4fa;
  color: var(--title-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0px;
  border-radius: 4px;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover,
.filter-button:focus {
  background: var(--accent-color);
  color: var(--second-accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.project-box {
  background: #ffffff;
  width: 370px;
  flex-basis: calc(100% / 3 - 30px);
  margin: 15px;
}
.project-box:hover,
.project-box:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-link {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay-card {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  position: absolute;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover .overlay-text,
.project-link:focus .overlay-text {
  transform: translateY(0%);
}
.project-desc {
  border: 1px solid #eeeeee;
  border-top-width: 0px;
  background: var(--primary-bg-color);
  padding: 20px 24px;
}
.project-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.project-text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
